<div class="parent">
    <div class="container">
        <h1>Password Reset Email Verification</h1>
        <form (ngSubmit)="sendVerificationEmail()">
            <div class="form-group">
                <label for="email">Email Address:</label>
                <input type="email" name="email" [(ngModel)]="passwordResetObj.email" placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-primary">Send Verification Email</button>
        </form>
    </div>
    <button class="go-back-btn" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0V0z" />
            <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
        </svg>
    </button>
</div>