@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.parent {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 700px;
    /* Adjusted width to make the container smaller */
    max-width: 100%;
    min-height: 400px;
    /* Adjusted min-height to make the container smaller */
    padding: 20px;
    text-align: center;
    padding-top: 40px;
    /* Add padding at the top to move content down */
}

.container h1 {
    font-size: 30px;
    /* Additional margin-top to move the title down */
}

.container .form-group {
    margin-bottom: 30px;
    /* Increased margin-bottom to create space below the input */
    text-align: left;
    width: 100%;
    padding: 0 20px;
    margin-left: 50px;
    /* Adjusted margin-left */
}

.container .form-group label {
    display: block;
    margin-bottom: 18px;
    margin-top: 20px;
    font-size: 17px;
}

.container .form-group input {
    width: calc(100% - 100px);
    /* Adjusted for padding */
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    
}

.container button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    /* Adjusted font size */
    padding: 8px 16px;
    /* Adjusted padding */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 20px;    /* Increased margin-top to create space above the button */
    align-self: flex-end;
    /* Align button to the right */
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.go-back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.go-back-btn svg {
    width: 24px;
    height: 24px;
    fill: #000;
    /* Adjust color as needed */
}
.text-danger{
    margin-top:14px;
    font-size: 15px;
}
