<div class="parent">
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :'' " id="container">
        <div class="form-container sign-up">
            <!-- <form>
                <h1>Create Account</h1>
                
                <input type="text" name="name" [(ngModel)]="signUpObj.name" placeholder="Name">
                <input type="text" name="lastname" [(ngModel)]="signUpObj.lastname" placeholder="Lastname">
                <input type="date" name="dob" [(ngModel)]="signUpObj.dob" placeholder="dob">
                <input type="email" name="email" [(ngModel)]="signUpObj.email" placeholder="Email">
                <input type="password" name="password" [(ngModel)]="signUpObj.password" placeholder="Password">
                
                <button (click)="onRegister()">Sign Up</button>
             </form>--> <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <h1>Create Account</h1>
                  <label for="name" class="form-label"></label>
                  <input id="name" formControlName="name" type="text" class="form-control" placeholder="Name" autocomplete="name">
                  <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger">
                    Name is required.
                  </div>
                    <label for="lastname" class="form-label"></label>
                    <input id="lastname" formControlName="lastname" type="text" class="form-control" placeholder="Lastname" >
                    <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched" class="text-danger">
                      Last Name is required.
                    </div>
                    <label for="dob" class="form-label"></label>
                    <input id="dob" formControlName="dob" type="date" class="form-control" placeholder="dob" >
                    <div *ngIf="registerForm.get('dob')?.errors?.['ageRequirement']" class="text-danger">
                      Minimum age required is {{ registerForm.get('dob')?.errors?.['ageRequirement']?.requiredAge }} years.
                    </div>
                    <div *ngIf="registerForm.get('dob')?.invalid && registerForm.get('dob')?.touched" class="text-danger">
                      Date of Birth is required.
                    </div>
                    <label for="email" class="form-label"></label>
                    <input id="email" formControlName="email" type="text" class="form-control" placeholder="Email" >
                    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
                        <div *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</div>
                        <div *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</div>
                        <div *ngIf="registerForm.get('email')?.errors?.['emailExists']">Email already exists.</div>
                      </div>        
                    <label for="password" class="form-label"></label>
                    <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password">
                    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
                      <div *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</div>
                      <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least {{ minLength }} characters long.</div>
                      <div *ngIf="registerForm.get('password')?.errors?.['passwordComplexity']">Password must contain both letters and characters.</div>
                    </div>
                <div class="row">
                  <div class="col-md-12 form-group">
                    <button [disabled]="!registerForm.valid" class="btn btn-primary w-100" type="submit" value="onRegister()">Register</button>
                  </div>
                </div>
        </form> 
        </div>
        <div class="form-container sign-in">
            <!-- <form>
                <h1>Sign In</h1>
                
                <input type="email" name="email" [(ngModel)]="loginObj.email" placeholder="Email">
                <input type="password" name="password" [(ngModel)]="loginObj.password" placeholder="Password">
                <a class="small" routerLink="/password-reset">→ Forget Your Password? ←</a>
                <button (click)="onLogin()">Sign In</button>
            </form> -->

            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <h1>Sign In</h1>
                        <label for="email" class="form-label"></label>
                        <input id="email" formControlName="email" type="text" class="form-control" placeholder="Email" >
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
                          Email is required.
                        </div>
                        <label for="password" class="form-label"></label>
                        <input id="password" formControlName="password" type="password" class="form-control" placeholder="Password">
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                        </div>
                        <div *ngIf="errorMessage" class="text-danger">
                            {{ errorMessage }}
                          </div>
                        <a class="small" routerLink="/password-reset">→ Forget Your Password? ←</a>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        
                        <button [disabled]="!loginForm.valid" class="btn btn-primary w-100" type="submit" value="onLogin()">Sign In</button>
                      </div>
                    </div>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <a class="small" style="color: white;">Already have an account?</a>
                    <button type="button" class="hidden" id="login" (click)="isSignDivVisiable = false">Sign In</button>
                    
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button type="button" class="hidden" id="register" (click)="isSignDivVisiable = true">Sign
                        Up</button>
                </div>
            </div>
        </div>
    </div>
</div>